{% extends "base.html" %}
{% load static %}
{% block page_content %}
<div class="row">
        <div class="card mb-2">
            {% for line in visitor %}
            <div class="card-body">
                <h3>{{line.name}}</h3>
                <h5 class="card-title">{{ line.phone }}</h5>
                <p class="card-text">{{ line.email }}</p>
                <!-- <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a> -->
            </div>
            {% endfor %}
        </div>
</div>
{% endblock %}